body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #03032c;
}
h1 {
    color: white;
    text-align: center;
}

button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

#contenedor {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.item {
    background-color: rgba(85, 85, 255, 0.39);
    padding: 12px 18px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.39);
    width: 220px;
}

.portada {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
